
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    background: linear-gradient(160deg,black,white);
}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: black;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    background: linear-gradient(80deg,#fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heading 4.5s linear infinite;
    padding: 30px;
}
@keyframes heading{
    to{
        background-position: 200%;
    }
}
h1:hover{
    font-size: 55px;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-top: 10px;
}
li{
    padding: 10px;
    padding-right: 20px;
}
li a{
    color: aliceblue;     
}
footer a{
    color: aliceblue;
}
a:hover{
    color: aquamarine;
    /* text-decoration: underline lightseagreen; */
    transition: 0.5s ease;
    
}
a:focus{
    color: rgb(250, 4, 4);
    transition: 0.5s ease;
}


img{
    height: 55px;
    width: 100px;
}
img:hover{
    transform: scale(1.3);
}
.drop{
    display: none;
    position: absolute;
    background-color: black;
    width: 6%;
    list-style:none;

}
li:hover .drop{
    display: block;
    padding: 10px;
    
}
.container {
width: 90%;
margin: 130px 55px;
padding: 20px;
display: flex;
gap: 20px;
display: grid;
grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  }

.card {
background: #fff;
border-radius: 10px;
/*box-shadow: 0 0 4px 3px black;*/
overflow:hidden;
text-align: center;
background-color:black;
color:white;
font-family:'Times New Roman', Times, serif;
}

.card img {
width: 90%;
height: 330px;
object-fit: cover;
border-radius: 10px;
cursor: pointer;
}

.content {
/*padding: 15px;*/
height: 0;
width: 100%;
background: linear-gradient(transparent,#1c1c1c 48%);
border-radius: 10px;
position:relative;
left: 0%;
bottom: 0%;
overflow: hidden;
display: flex;
align-items: center;
justify-content:center;
flex-direction: column;
padding: 28 2px;
text-align:center;
font-size: 25px;
transition: height 0.5s;
padding-right: 90px;
}

/* .content p{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-family: bebas neue;
    font-size: 30px;
    letter-spacing: 2px;
} */

.card:hover img{
    transform: scale(1,1);
    transition: 0.5s ease;

}

.card:hover .content{
    height: 13%;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px;
    position:static; /* POSITION FIXED IS USED TO FIXED THE FOOTER */
    width: 100%;
    bottom: 0;
    font-size: 30px;
}

.categories{
    padding-top: 40px;
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(80deg,#fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
    font-size: 60px;
    background: linear-gradient(80deg,#fc72ff,#8f68ff,aquamarine,#fc72ff,#487bff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heading 7s linear infinite;
}
@keyframes headin{
    to{
        background-position: 200%;
    }
}

.card img:hover{
    transform: scale(1.1);
} 

@media(max-width:600px)
{
    header{
        background-color: darkmagenta;
        color: darkseagreen;
        
        nav{
            flex-direction: column;
            align-items: center;
            
        }
    }
}
@media (max-width:1050px) {

    .home .items .item:nth-child(1) {
        width: 100%;
        margin-top: 100vh;
        margin-bottom: 4rem;

    }

    .home .items .item .box {
        border: 1px solid #aaa;
        margin-top: 3rem;
    }

    .home .items .item .content .title {
        text-align: center;
    }

    .home .items .item .content .buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}

@media (max-width:750px) {
    #menu {
        display: flex ;
    }
    .card{
    margin-right: 100px;
      /*  justify-content: center;
        text-align: center;*/
    }
#footet{
    font-size: 10px;
}
    #controls {
        position: fixed;
        top: 0.5rem;
        left: 0;
        width: 100%;
        display: flex ;
        padding: 0.5rem 2rem;
        z-index: 1000;
    }

    .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        transition: all 1s;
        box-shadow: 2px 2px 10px #aaa;
        z-index: 100;

    }

    .navigation.active {
        position: fixed;
        top: 0;
        right: 0%
    }

    .home .items .item:nth-child(1) {
        width: 100%;
        margin-top: 100vh;

    }

    ul li:hover.drop{
        display:block;
        position: absolute;
        padding: 10px 0;
        width: auto;

    }



}